body {
    font-family: Arial;
    background-color: #f7f7f7;
    padding: 20px;
}

h1 {
    color: darkblue;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #d7e9ff;
}